{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock header_text %}

{% block form_action %}/lists/{{ list.id }}/add_item{% endblock form_action %}

{% block table %}
	<table id="id_list_table" class="table">
		{% for item in list.item_set.all %}
			<tr><td>{{ forloop.counter }}: {{ item.text }} </td></td>
		{% endfor %}
	</table>
{% endblock table %}

